.form{
    margin: 0 auto;
    margin-bottom:50px;
    width: 90%;

    &__input{
        padding:.25rem;
        border-radius: 2%;
        margin: 10px;
        width: 90%;
    }

    &__label{
        margin: 10px;
        margin-top: 18px;
        position:relative;
    }
    

    &__btn{
        padding: .35rem;
        width: 90%;
        margin: 0 10px;
        font-size: 1rem;
        transform: translateY(50%);
    }

    &__btn{
        display: block;
        border: none;
        text-decoration: none;
        background: $mainBlue;
        color: #ffffff;
        font-family: sans-serif;
        cursor: pointer;
        text-align: center;
        /* transition: background 250ms ease-in-out, 
                    transform 150ms ease; */
    }

    &__btn:hover {
        background: $mainOrange;
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

   

    /* &__btn:active {
        transform: scale(0.90);
    } */
    

    @mixin atLarge {
        &__btn{ 
            transform: translateY(96%);
        }
    }

    @mixin atMedium {
        &__input{
            border-radius: 2%;
            margin: 10px;
            width: 97%!important;
        }

        &__btn{ 
            width: 97%!important;
        }

        /* &__label{
            margin: 10px;
            margin-top: 18px;
            position:relative;
        } */
         
    }


    @mixin atSmall {

       


    }

    
}